<!DOCTYPE html>	
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Main()</a></li>
				<br>
				<li><a href="/projects">Projects;</a></li>
	        		<br>
				<li><a href="/contact">Contact;</a></li>
	        		<br>
				<li><a href="/blog">README</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
			</footer>
		</body>
	</html>
